.imageview {
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 2px;   
}
.label {
    font-weight: bold;
    display: block;
}

.value {
    padding: 5px;
}

.boatproperty {
    margin-bottom: 3px;
}
